{% extends "::base.html.twig"%}
{% block title %}
         Karavarum
{% endblock %}
{% block body %}
    {# menu #}
    <ul>
        {% for category in categories %}
            <a href="{{ path('index', {'slug':category.id}) }}">{{ category.name }}</a>
        {% endfor %}
    </ul>

    {# books #}
    <div>
        {% for book in books %}
            <p>{{ book.title }}</p>
            <p>Հեղինակ {{ book.author }}</p>
            <p>Լույս է տեսել {{ book.edition }} թ-ին, {{ book.place }}</p>
            <p>{{ book.description }}</p>
            <p>{{ book.quotation }}</p>
            <img src="{{ asset('uploads/images/') }}{{ book.srcImage }}" />
            <a href="{{ path('show', {'slugBook': book.id})}}" target="_blank">
                <p>Կարդալ</p>
            </a>
        {% endfor %}
    </div>

    {# quotation #}
    <div>
        {% for q in quotations %}
            <span>{{ q.quotation}}</span>
        {% endfor %}
    </div>
{% endblock %}